*{
	margin: 0;
	padding: 0;
}
.navbar button.navbar-toggler{
	border-color: #333;
}
.navbar button.navbar-toggler span
{
	color: #333;
	line-height: 25px;
}
.pos-f-t .collapse.show{
	background: #ececec;
    padding: 20px 0 20px 0;
}
.pos-f-t .collapse.show p{
	color: #818a91!important;
	margin-bottom: 0;
}
.header-title {
  padding: 50px 0;
}
.header-title  h1{
	font-size: 56px;
	font-weight: normal;
}
.header-title p{
	font-size: 20px;
}
.section-card{
	background: #f8f8f8!important;
	 padding: 20px 0 20px 0;
}
.section-card>.container>.row>.col-md-4{
	padding-bottom: 15px;
}